body{
    background: linear-gradient(30deg, rgb(77,77,77), rgb(58,58,58));
    color: rgb(68, 68, 68);
}
header{
    position: static;
}
main ul{
    width: 1200px;
    margin: 0 auto 48px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
    
}
main li{
    display: flex;
    background-color: antiquewhite;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    
}
main li:nth-of-type(3){
    grid-column: 1 / span 2;
    width: auto;
}
main li:nth-of-type(10){
    grid-column: 1 / span 2;
    width: auto;
}
main li img{
    width: 300px;
    height: 280px;
    object-fit: cover;
}



.item-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.actions{
    text-align: right;
}
.actions a{
    text-decoration: none;
    color: rgb(0, 195, 195);
    background-color: rgb(201, 246, 246);
    padding: 5px 10px;
    border-radius: 4px;
}
.actions a:hover{
    background-color: rgb(162, 251, 251);
    color: rgb(0, 93, 93);
}